{% extends ("UKMDesign/Layout/"~ (singleMode is defined and singleMode ? 'singleMode' : 'framework' ) ~".html.twig")|UKMpath %}

{% block framework_content %}
	<div id="UKMDesign_content">
		<div class="hamburger-overlay show"></div>
		{# HEADER #}
		<header>
			{% if showHero is defined and showHero %}
				{# GEOLOCATION TOP #}
				{% include "UKMDesign/Layout/geolocation.html.twig" %}
				{% include "UKMDesign/Wave/bolge-component.html.twig" %}
				<div class="container hero-container">
					<div class="row">
						<div class="col-12 col-sm-10 offset-sm-1">
							{% block hero %}{% endblock %}
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-10 offset-sm-1">
							{% block hero_cta %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		{% elseif vibakukm is defined and vibakukm %}
			<div class="vibakukm">
				{% include "UKMDesign/Layout/geolocation.html.twig" %}
				{% include "UKMDesign/Wave/bolge-component.html.twig" %}
				<div class="container hero-container">
					<div class="row">
						<div class="col-12 col-sm-10 offset-sm-1">
							{% block heros %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% elseif bolgecomponent is defined and bolgecomponent %}
			<div class="bolgepage">
				{% include "UKMDesign/Layout/geolocation.html.twig" %}
				{% include "UKMDesign/Wave/bolge-component.html.twig" %}
				<div class="container hero-container">
					<div class="row">
						<div class="col-12 col-sm-10 offset-sm-1">
							{% block herotext %}{% endblock %}
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-10 offset-sm-1">
							{% block hero_button %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
			</div>
	</div>
{% else %}
	<div class="geolocation-banner"></div>
	<nav class="navbar ukm-navbar navbar-expand-lg other-page">
		<div class="container">
			{# Det er delta #}
			{% if app is defined and (app.request.getSchemeAndHttpHost() == 'https://delta.ukm.dev' or app.request.getSchemeAndHttpHost() == 'https://delta.ukm.no')  %}
				<a class="navbar-brand clickable" href="/"><img class="ukm-logo" src="//assets.{{ UKM_HOSTNAME }}/img/UKM_logo_sort.png"/></a>
				{% include "UKMDesign/Layout/deltanav.html.twig" %}
			{# Det er ikke delta #}
			{% else %}			
				<a class="navbar-brand clickable" href="{{ UKMDesign.getSitemap().getPage('UKM','forsiden') }}"><img class="ukm-logo" src="//assets.{{ UKM_HOSTNAME }}/img/UKM_logo_sort.png"/></a>
				{% include "UKMDesign/Layout/nav.html.twig" %}
			{% endif %}
		</nav>
	</div>
	<script>console.log('aa')</script>
{% endif %}</header>

{# FESTIVALEN #}
{% if page and page.url and ('festivalen.ukm.' in page.url or 'ukm.dev/festivalen' in page.url or 'ukm.no/festivalen' in page.url) %}
	{% include "UKMDesign/Layout/festivalnav.html.twig" %}
{% endif %}

{% block sectionNav %}{% endblock %}{% block content %}Designfil mangler content-block.{% endblock %}</div>{% embed "UKMDesign/Footer/Footer.html.twig"|UKMpath %}{% endembed %}{% endblock %}
