{# <div class="container-fluid live-program-info">
    <a href="/festivalen/program-live-mode">
        <div class="inner-div container">
            <p>Program</p>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>
            </div>
        </div>
    </a>
</div> #}

{# OBS: Midlertidig redirect til annen UKM-festival 20204 nettside ukm-fesitvalen.no #}
{# Redirect #}
<script>
    window.location.href = 'https://ukm-festivalen.no';
</script>


<div id="festivalHeader" class="container">
    <div>
        <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        <h4>Tilbake</h4>
    </div>
</div>

{% block javascripts %}
    <script>
        // Tilbake knapp på UKM-festivalen
        $('#festivalHeader').off('click').click( () => {
            // Hvis det ikke er direkt lenke
            if(window.history.length > 1 && document.referrer.indexOf(window.location.host) !== -1) {
                window.history.back();
            }
            // Hvis det er direkt lenke, brukes hovedsiden på UKM-festivalen når tilbake knappen trykkes
            else {
                window.location.href = "//{{ UKM_HOSTNAME }}/festivalen";
            }
        });
    </script>

    {# Legger til cloudflareinsights #}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "fe5afa06b77f41f8b0c578a25f7f4b18"}'></script>
{% endblock %}


{% block css %}
	<style>
        #festivalHeader div {
            display: inline-flex;
            padding-top: 7px;
            padding-right: 10px;
            text-decoration: none;
            border-radius: 5px;
        }
        #festivalHeader div:hover {
            cursor: pointer;
            background: linear-gradient(45deg, hsl(var(--color-primary-blue-800, var(--color-primary-orange-900))), hsl(var(--color-primary-blue-600, var(--color-primary-orange-900)))) !important;
            color: #fff;
        }
        #festivalHeader div:hover svg.back-icon {
            fill: #fff !important;
        }
        #festivalHeader div svg.back-icon {
            margin-top: 2px;
        }

        .live-program-info {
            margin-bottom: 20px;
            padding: 1px;
            background: #f81288;
            color: #fff;
            border: solid 3px transparent;
            transition: .2s;
        }
        .live-program-info:hover {
            border-color: #02024b;
            transition: .2s;
        }
        .live-program-info a {
            text-decoration: none;
            color: #fff !important;
        }
        .live-program-info .inner-div {
            display: flex;
        }
        .live-program-info .inner-div .program-tittel {
            margin: auto;   
        }
        .live-program-info .inner-div p {
            margin: auto;
            margin-right: 10px;
        }
        .live-program-info .inner-div .right-side {
            margin: auto;
            border: solid 1px;
            border-radius: 50%;
            padding: 2px;
            background: #fff;
            margin-left: 0;
        }
        .live-program-info .inner-div .right-side .blinking-sign {
            background: #008000 !important;
            animation: blinker 2s linear infinite;
            border-radius: 50%;
            box-shadow: 0px 0px 6px 1px green;
            border: solid 2px #006300;
            width: 10px;
            height: 10px;
            padding: 0px;
        }
        @keyframes blinker {
            50% {
                opacity: .3;
            }
        }

        @media(max-width: 767px) {
            #festivalHeader div h4 {
                font-size: 16px;
                margin-top: 4px;
            }
            #festivalHeader div {
                padding-top: 3px;
            }
        }

	</style>
{% endblock %}
