<div id="festivalHeader" onclick="history.back()" class="container">
    <div>
        <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        <h4>Tilbake</h4>
    </div>
</div>



{% block css %}
	<style>
        #festivalHeader div {
            display: inline-flex;
            padding-top: 7px;
            padding-right: 10px;
            text-decoration: none;
            border-radius: 5px;
        }
        #festivalHeader div:hover {
            cursor: pointer;
            background: linear-gradient(45deg, hsl(var(--color-primary-blue-800, var(--color-primary-orange-900))), hsl(var(--color-primary-blue-600, var(--color-primary-orange-900)))) !important;
            color: #fff;
        }
        #festivalHeader div:hover svg.back-icon {
            fill: #fff !important;
        }
        #festivalHeader div svg.back-icon {
            margin-top: 2px;
        }
        @media(max-width: 767px) {
            #festivalHeader div h4 {
                font-size: 16px;
                margin-top: 4px;
            }
            #festivalHeader div {
                padding-top: 3px;
            }
        }

	</style>
{% endblock %}
