{# <div class="container-fluid live-program-info">
    <a href="/festivalen/program-live-mode">
        <div class="inner-div container">
            <p>Live program info</p>
            <div class="right-side">
                <div class="blinking-sign"></div>
            </div>
        </div>
    </a>
</div> #}

<div id="festivalHeader" onclick="history.back()" class="container">
    <div>
        <svg class="back-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
        <h4>Tilbake</h4>
    </div>
</div>



{% block css %}
	<style>
        #festivalHeader div {
            display: inline-flex;
            padding-top: 7px;
            padding-right: 10px;
            text-decoration: none;
            border-radius: 5px;
        }
        #festivalHeader div:hover {
            cursor: pointer;
            background: linear-gradient(45deg, hsl(var(--color-primary-blue-800, var(--color-primary-orange-900))), hsl(var(--color-primary-blue-600, var(--color-primary-orange-900)))) !important;
            color: #fff;
        }
        #festivalHeader div:hover svg.back-icon {
            fill: #fff !important;
        }
        #festivalHeader div svg.back-icon {
            margin-top: 2px;
        }

        .live-program-info {
            margin-bottom: 20px;
            padding: 1px;
            background: #f81288;
            color: #fff;
            border: solid 3px transparent;
            transition: .2s;
        }
        .live-program-info:hover {
            border-color: #02024b;
            transition: .2s;
        }
        .live-program-info a {
            text-decoration: none;
            color: #fff !important;
        }
        .live-program-info .inner-div {
            display: flex;
        }
        .live-program-info .inner-div p {
            margin: auto;
            margin-right: 10px;
        }
        .live-program-info .inner-div .right-side {
            margin: auto;
            border: solid 1px;
            border-radius: 50%;
            padding: 2px;
            background: #fff;
            margin-left: 0;
        }
        .live-program-info .inner-div .right-side .blinking-sign {
            background: #008000 !important;
            animation: blinker 2s linear infinite;
            border-radius: 50%;
            box-shadow: 0px 0px 6px 1px green;
            border: solid 2px #006300;
            width: 10px;
            height: 10px;
            padding: 0px;
        }
        @keyframes blinker {
            50% {
                opacity: .3;
            }
        }

        @media(max-width: 767px) {
            #festivalHeader div h4 {
                font-size: 16px;
                margin-top: 4px;
            }
            #festivalHeader div {
                padding-top: 3px;
            }
        }

	</style>
{% endblock %}
