<div class="clearfix"></div>
<footer class="mt-4">
	<div class="container">
		<div class="col-12 center">
			<a href="{{ UKMDesign.getSitemap().getPage('UKM','forsiden') }}">
				<img src="//grafikk.ukm.no/profil/logoer/UKM_logo_sort_0300.png" id="UKMlogoFooter" width="70" />
			</a>
		</div>
	</div>
</footer>