<div class="container-fluid geolocation-banner click geoLocate" id="geolocationTop">
    <div class="geolocation-box" style="display:none;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z"></path>
        </svg>
        <span>Finn ditt nærmeste UKM</span>
    </div>
</div>

<script>
    jQuery(document).ready(function(){
        UKM.geoLocation.on('loading', function(e) {
            jQuery('.geolocation-box').html(
                twigJS_GeolocationFrontLoading.render()
            ).removeClass('d-none');
        });

        UKM.geoLocation.on('error', function(e){
            jQuery('#geolocationTop').removeClass('geoLocate').addClass('clickLinkWithin');
            jQuery('.geolocation-box').html(
                twigJS_GeolocationFrontFail.render(e)
            ).removeClass('d-none');
        });

        UKM.geoLocation.on('locationdata', function(e, locationData) {
            if( locationData.kommune || locationData.fylke ) {
                var home = locationData.kommune || locationData.fylke
                if( home.url != window.location.href.replace('https:','') ) {
                    jQuery('.geolocation-box').html(
                        twigJS_GeolocationFront.render(locationData)
                    ).slideDown();
                }
            }
            jQuery('#geolocationTop').removeClass('geoLocate').addClass('clickLinkWithin');
        });
    });

    // Start å hente posisjonsdata
    jQuery(document).on('click', '.geoLocate', function (e) {
        if( UKM.geoLocation.locate() ) {
            // Må kalles fra click-funksjonen for å funke (browser security)
            navigator.geolocation.getCurrentPosition(
                UKM.geoLocation.positioned,
                UKM.geoLocation.failed
            );
        } else {
            //console.log('already loading');
        }

        return false;
    });

    {% if last_location is defined %}
        $(document).ready(function () {
            UKM.geoLocation.getLocationInfos({{ last_location.kommunenummer }}, {{ last_location.fylkesnummer }}, '{{ last_location.kommunenavn }}');
        });
    {% else %}
        jQuery('.geolocation-box').slideDown();
    {% endif %}
</script>