{% extends ("UKMDesign/Layout/framework.html.twig")|UKMpath %}

{% block framework_content %}

	<header>
		<div class="geolocation-banner"></div>
		<nav class="navbar ukm-navbar navbar-expand-lg other-page">
			<div class="container">
				<a class="navbar-brand clickable" href="{{ UKMDesign.getSitemap().getPage('UKM','forsiden') }}"><img class="ukm-logo" src="//assets.{{ UKM_HOSTNAME }}/img/UKM_logo_sort.png"/></a>
			</nav>
		</div>
	</header>

{% block sectionNav %}{% endblock %}{% block content %}Designfil mangler content-block.{% endblock %}</div>

		
{% endblock %}
